.cards {
		display: flex;
	flex-wrap: wrap;

}
.card {
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px, 15px 25px rgba(0, 0, 0, 0.3);
	border-radius: 9px;
	margin: 25px 0;	
}
.card img {
	width: 300px;
	border-radius: 7px;
	margin-right: 25px;
	}
.card h3 {
	font-size: 20pt;
	color: darkred;
	font-family: 'Lora';
	}

